{% macro headerimage(imageId, photo, title, titleImage) %}

<div class="container image-container {{imageId}}-image-container" img-id="{{imageId}}" style="background-image: url(../img/header_photos/{{imageId}}.png);">
  {% if title %}
  <div class="page-title">
    {{title}}
  </div>
  {% elif titleImage %}
  <div class="title-image">
    <img src="{{titleImage}}" />
  </div>
  {% endif %}

  {% if photo.credit %}
  {% from "./imagecredit.njk" import imagecredit %}
  {{ imagecredit(photo) }}
  {% endif %}
</div>

{% endmacro %}
