{% macro imagecredit(photo) %}

<div data-nosnippet class="container image-info-container">
  <div class="image-credit">
    <i class="material-icons photo-icon">photo_camera</i>
    <span>
      {{photo.credit}}
    </span>
  </div>
  <div class="image-title">
    <div class="image-title-text">
      {{photo.title}}
    </div>
    <div class="arrow-down"></div>
  </div>
</div>

{% endmacro %}
