{% macro miniresearchitem(item) %}

<div class="col-lg-6 col-sm-12 research-item-container mini-research-item">
{%if item.url%}
  <a class="research-item-link" href="/{{item.url}}">
{%elif item.externalurl%}
  <a class="research-item-link" href="{{item.externalurl}}">
{%endif%}
    <div class="research-item">
      <div class="research-item-image" style="background-image: url(../img/header_photos/{{item.img}}-small.png)"></div>
      <div class="research-item-info">
        {%if item.author%}
          <div><span class="research-item-author">{{item.author}} &bull; </span><span class="research-item-date">{{item.date}}</span></div>
        {%endif%}
        <div class="research-item-title">{{item.title}}</div>
      </div>
    </div>
  </a>
</div>

{% endmacro %}
