{% macro miniresearchitem(item) %}

<div class="col-lg-4 col-md-6 col-sm-12" research-item-container mini-research-item">
{%if item.url%}
  <a class="research-item-link" href="/{{item.url}}">
{%elif item.externalurl%}
  <a class="research-item-link" href="{{item.externalurl}}">
{%endif%}
    <div class="research-item">
      <div class="research-item-image" style="background-image: url(../img/header_photos/{{item.img}}-small.png)"></div>
      <div class="blog-item-info">
        <div class="blog-item-date">
        {{item.date}}
        </div>
        <div class="blog-item-title">
          {{item.title}}
        </div>
        <div class="blog-item-authors">
          {{item.author}}
        </div>
      </div>
    </div>
  </a>
</div>

{% endmacro %}
