{% macro pdf(pdf) %}

{%if pdf.url %}
  <a class="pdf-button-wrapper" href="{{pdf.url}}">
    <div class="button pdf-button"><span>View PDF</span>&nbsp;<i class="material-icons">insert_drive_file</i></div>
  </a>
{%else%}
  <a class="pdf-button-wrapper" href="/downloads/{{pdf.name}}.pdf">
    <div class="button pdf-button"><span>View PDF</div>
  </a>
{%endif%}

{% endmacro %}
