{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("podcast", "The Sentience Institute Podcast", "header_photos/" + "podcast", "Interviews with activists, social scientists, entrepreneurs and change-makers about the most effective strategies to expand humanity’s moral circle, with an emphasis on expanding the circle to farmed animals.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/podcastepisodecontent.njk" import podcastepisodecontent %}
{{ podcastepisodecontent(episode) }}

{% endblock %}
