{% macro podcastepisodecontent(episode) %}

<div class="container image-container podcast-episode-image-container"></div>
<div class="container first-container gdoc-html-container podcast-episode-container podcast-episode-{{episode.no}}-container">
  <div class="player">
    <script src="https://www.buzzsprout.com/737534/{{episode.embedsnippet}}.js?player=small" type="text/javascript" charset="utf-8"></script>
  </div>
  <div class="podcast-directory-links">
    <div class="directory-links-instr">Also available on: </div>
    <div class="directory-link"><a target="_blank" href="{{episode.directories.google}}"><img src="/img/icons/podcast-icons-google.png"/></a></div>
    {% if episode.directories.apple %}
    <div class="directory-link"><a target="_blank" href="{{episode.directories.apple}}"><img src="/img/icons/podcast-icons-apple.png"/></a></div>
    {% endif %}
    <div class="directory-link"><a target="_blank" href="{{episode.directories.spotify}}"><img src="/img/icons/podcast-icons-spotify.png"/></a></div>
  </div>
  <div class="episode-info">
    <div class="episode-date">{{episode.date}}</div>
    <div>Guest <span class="guest-name">{{episode.guest.name}}</span>, <span class="guest-affiliation">{{episode.guest.affiliation}}</span></div>
    <div>Hosted by <span class="host-name">Jamie Harris</span>, <i>Sentience Institute</i></div>
  </div>
  <div class="podcast-episode-writeup">
    {% include "../../page_content/podcast/" + episode.no + ".html" %}
  </div>
  {% if episode.no == 3 %}
  <h3>Transcript (Automated, imperfect, timestamps ahead by ~4 min starting at 00:19:02)</h3>
  {% else %}
  <h3>Transcript (Automated, imperfect)</h3>
  {% endif %}
  <div class="podcast-episode-transcript">
    {% include "../../page_content/podcast/" + episode.no + ".txt" %}
  </div>
</div>
{% endmacro %}
