{% macro teammember(person) %}

<div class="person col-lg-4 col-md-6 col-sm-12">
  <div class="person-image">
    <img src="../img/team/{{person.id}}.png"/>
  </div>
  <div class="person-name">
    {%if person.SIpage %}
      <a href="../{{person.SIpage}}">{{person.name}}</a>
    {% else %}
    {{person.name}}
    {% endif %}
  </div>
  <div class="person-role">
    {{person.role}}
  </div>
  <div class="person-desc">
    {{person.desc | escape}}
  </div>
  <div class="person-links">
    {%if person.email %}
      <a href="mailto:{{person.email}}"><i class="material-icons">email</i></a>
    {% endif %}
    {%if person.link %}
      <a href="{{person.link}}"><i class="material-icons link-icon">link</i></a>
    {% endif %}
    {%if person.twitterId %}
      <a href="https://www.twitter.com/{{person.twitterId}}"><img class="icon" src="../img/icons/icon_twitter_blue.png"/></a></a>
    {% endif %}
    {%if person.facebookId %}
      <a href="https://www.facebook.com/{{person.facebookId}}"><img class="icon" src="../img/icons/icon_facebook_blue.png"/></a></a>
    {% endif %}
  </div>
</div>

{% endmacro %}
