{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/data-publication-AIMS-survey", "Data Publication for the 2021 Artificial Intelligence, Morality, and Sentience (AIMS) Survey", "blog/" + blogposts[29].img, "We are pleased to announce the publication of the data from the 2021 Artificial Intelligence, Morality, and Sentience (AIMS) survey on Mendeley Data in line with Open Science principles. The 2021 AIMS survey was preregistered on the OSF.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[29], authors) }}

{% endblock %}
