{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/world-making-for-a-future-with-sentient-ai", "World-Making for a Future with Sentient AI", "blog/" + 250124, "We are pleased to announce our latest peer-reviewed publication, “World-making for a future with sentient AI” in the British Journal of Social Psychology.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[48], authors) }}

{% endblock %}
