{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/eoy2021", "2021 End of Year Summary", "blog/" + blogposts[27].img, "In 2021, Sentience Institute has continued to pursue big-picture, longtermist research on moral circle expansion.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[27], authors) }}

{% endblock %}
