{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/eoy2020", "2020 End of Year Summary", "blog/" + blogposts[18].img, "A summary of our work in 2020 and what we can do with your support.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[18], authors) }}

{% endblock %}
