{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/how-tractable-is-changing-the-course-of-history", "How tractable is changing the course of history?", "blog/" + blogposts[9].img, "What does theoretical, historical, and sociological research suggest about the extent to which thoughtful actors can deliberately change the course of history?") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[9], authors) }}

{% endblock %}
