{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog", "Blog", "header_photos/" + 2, "") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(2, photos[2], "Blog") }}

<div class="container first-container blog-list-container">
  <div class="row">
    {% for post in blogposts | reverse %}
      {% from "../templates/partials/blogitem.njk" import blogitem %}
      {{ blogitem(post, authors) }}
    {% endfor %}
  </div>
</div>

{% endblock %}
