{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/institutional-change-palgrave", "Institutional Change and the Limitations of Consumer Activism", "blog/" + blogposts[16].img, "In early 2019, we started drafting papers to submit to peer-reviewed journals, in order to help build the research literature on effective animal advocacy (EAA) and moral circle expansion (MCE). The second of these papers, 'Institutional Change and the Limitations of Consumer Activism,' is now published with Palgrave Communications.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[16], authors) }}

{% endblock %}
