{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/introducing-the-si-podcast", "Introducing the Sentience Institute Podcast", "blog/" + blogposts[15].img, "We interview advocates, social scientists, entrepreneurs and change-makers about the most effective strategies to expand humanity’s moral circle, with an emphasis on expanding the circle to farmed animals.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[15], authors) }}

{% endblock %}
