{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/is-artificial-consciousness-possible", "Many philosophers and scientists have written about whether artificial sentience or consciousness is possible. In this blog post we summarize discussions of the topic from 15 books.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[32], authors) }}

{% endblock %}
