{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/key-questions-for-digital-minds", "Key Questions for Digital Minds", "blog/" + 20230306, "Digital minds may be a key factor in the way AI develops over the coming years, such that a better understanding may lead to more accurate forecasts, better strategic prioritization, and concrete strategies for AI safety. Here, I briefly scope out some key questions in this area that might be worth further research.
") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[39], authors) }}

{% endblock %}
