{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/moral-spillover-in-human-ai-interaction", "Moral Spillover in Human-AI Interaction", "blog/" + 230518, "Moral spillover is the transfer of moral attitudes or behaviors from one setting to another. Here, we review moral spillover research with a focus on human-AI interaction.
") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[40], authors) }}

{% endblock %}
