{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/perceptions-of-sentient-ai-and-other-digital-minds", "Perceptions of Sentient AI and Other Digital Minds: Evidence from the AI, Morality, and Sentience (AIMS) Survey", "blog/" + 250425_1, "We are pleased to announce our latest peer-reviewed publication, “Perceptions of Sentient AI and Other Digital Minds: Evidence from the AI, Morality, and Sentience (AIMS) Survey.”") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[50], authors) }}

{% endblock %}
