{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/prioritization-questions-for-artificial-entities", "Work to protect the interests of artificial sentience (AS advocacy) could be very important. It could improve the lives of vast numbers of future beings and be among the most cost-effective actions we could possibly take at the present time to help others.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[25], authors) }}

{% endblock %}
