{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/rublic-opinion-and-the-rise-of-digital-minds", "Public Opinion and the Rise of Digital Minds: Perceived Risk, Trust, and Regulation Support", "blog/" + 250507, "We are pleased to announce our latest peer-reviewed publication, “Public Opinion and the Rise of Digital Minds: Perceived Risk, Trust, and Regulation Support.”") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[52], authors) }}

{% endblock %}
