{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("blog/which-ais-do-people-care-about-most", "Which Artificial Intelligences Do People Care About Most? A Conjoint Experiment on Moral Consideration", "blog/" + 240522, "Our latest paper “Which Artificial Intelligences Do People Care About Most? A Conjoint Experiment on Moral Consideration” was just presented in Honolulu at CHI, the flagship conference of the field of human-computer interaction.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/blogpost.njk" import blogpost %}
{{ blogpost(blogposts[47], authors) }}

{% endblock %}
