{% extends "layout.njk" %}

{%set item = researchitems.other[6] %}

{% block metatags %}
{% from "../templates/partials/reportmetatags.njk" import reportmetatags %}
{{ reportmetatags(item) }}
{{ metatagsrender("afa-survey-2020", "Survey of US Attitudes Towards Animal Farming and Animal-Free Food 2020", "header_photos/" + "afa-2020", "In October 2020, we conducted the third iteration of the Animals, Food and Technology survey.") }}
{% endblock %}


{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(item.img, photos[item.img]) }}

{% from "../templates/partials/pageinfo.njk" import pageinfo %}
{{ pageinfo(item) }}
<div class="container first-container report-container gdoc-html-container afa-survey-2020-container">
  {% include "../page_content/afa-survey-2020.html" %}
</div>

{% endblock %}
