{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("aft-survey", "Animals, Food, and Technology (AFT) Survey", "header_photos/" + "aft-survey", "Our Animals, Food, and Technology (AFT) survey tracks attitudes towards animal farming and animal product alternatives in the US.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage("aft-landing", photos["aft-landing"], "Animals, Food, and Technology (AFT) Survey") }}

<div class="container first-container research-list-container">

      <div>Our Animals, Food, and Technology (AFT) survey tracks attitudes towards animal farming and animal product alternatives in the US. The survey was first conducted in 2017, and we have since completed three further iterations in 2019, 2020, and 2021. On this page you can find links to our AFT reports and data. For any questions about the survey please contact <a href = "mailto:jacy@sentienceinstitute.org">jacy@sentienceinstitute.org</a>.<br><br></div>

      <h1><span>Reports</span></h1>
      <div class="row research-section-list">
        {% for item in aft | reverse %}
          {% from "../templates/partials/miniresearchitem.njk" import miniresearchitem %}
          {{ miniresearchitem(item) }}
        {% endfor %}
      </div>

      <h1><span>Data Download</span></h1>
      <div><br>The data for all years of the AFT can be downloaded at the link below. Please feel free to use this data in your own research.<br>

      <a href = "https://data.mendeley.com/datasets/k3xcndsswk/1"><u>Animals, Food, and Technology (AFT) Pooled 2017–2021 Data</u></a><br><br>

      Please cite this data as follows:<br>
      Anthis, Jacy Reese; Ladak, Ali (2022), “Animals, Food, and Technology (AFT) Survey 2017–2021”, Mendeley Data, V1, doi: 10.17632/k3xcndsswk.1
      </div>

      <hr>
      <div class="open-data-section">
        <img src="../img/icons/opendata.png"/>
        <div>Sentience Institute participates in the Center for Open Science's <a href="https://cos.io/our-services/open-science-badges/">Open Data badge program</a>. We grant the Open Data badge based on two criteria: the published article (1) provides the URL, DOI, or other permanent path for accessing the data in a public, open access repository, and (2) contains sufficient information for an independent researcher to reproduce the reported results, though we do not conduct a full replication ourselves.</div>
      </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/clamp.min.js"></script>
<script>
  $(".research-item-abstract span").each(function() {
    $clamp(this, {clamp: 5});
  });
</script>

{% endblock %}
