{% extends "layout.njk" %}

{%set item = researchitems.other[6] %}

{% block metatags %}
{% from "../templates/partials/reportmetatags.njk" import reportmetatags %}
{{ reportmetatags(item) }}
{{ metatagsrender("aft-survey-2020", "Animals, Food and Technology (AFT) Survey", "header_photos/" + "aft-survey-2020", "In October 2020, we conducted the third iteration of the Animals, Food and Technology (AFT) survey.") }}
{% endblock %}


{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(item.img, photos[item.img]) }}

{% from "../templates/partials/pageinfo.njk" import pageinfo %}
{{ pageinfo(item) }}
<div class="container first-container report-container gdoc-html-container aft-survey-2020-container">
  {% include "../page_content/aft-survey-2020.html" %}
</div>

{% endblock %}
