{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("aims-survey", "Artificial Intelligence, Morality, and Sentience (AIMS) Survey", "header_photos/" + "aims-survey", "Our Artificial Intelligence, Morality, and Sentience (AIMS) Survey survey measures the social and moral perception of different types of artificial intelligences (AIs), particularly sentient AIs, in the US.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage("aims-landing", photos["aims-landing"], "Artificial Intelligence, Morality, and Sentience (AIMS) Survey") }}

<div class="container first-container research-list-container">

      <div>Our Artificial Intelligence, Morality, and Sentience (AIMS) survey primarily measures the social and moral perception of different types of artificial intelligences (AIs), particularly sentient AI, among US residents. We conducted the first iteration of the survey in 2021, and we intend to run the survey periodically to track changes over time. On this page you can find links to our AIMS reports and data. For any questions about the survey, please contact <a href = "mailto:janet@sentienceinstitute.org">janet@sentienceinstitute.org</a>.<br><br></div>

      <h1><span>Reports and Blogposts</span></h1>
      <div class="row research-section-list">
        {% for item in aims | reverse %}
          {% from "../templates/partials/miniresearchitem.njk" import miniresearchitem %}
          {{ miniresearchitem(item) }}
        {% endfor %}
      </div>

      <h1><span>Data Download</span></h1>
      <div><br>The data for the AIMS survey can be downloaded at the link below. Please feel free to use this data in your own research.<br>

      <a href = "https://data.mendeley.com/datasets/x5689yhv2n/2"><u>Artificial Intelligence, Morality, and Sentience (AIMS) Survey Data</u></a><br><br>

      Please cite this data as follows:<br>
      Pauketat, Janet; Ladak, Ali; Anthis, Jacy (2023), “Artificial Intelligence, Morality, and Sentience (AIMS) Survey”, Mendeley Data, V2, <a href = "https://data.mendeley.com/datasets/x5689yhv2n/2"><u>doi:10.17632/x5689yhv2n.2</u></a>
      </div>
      <hr>
      <div class="open-data-section">
        <img src="../img/icons/opendata.png"/>
        <div>Sentience Institute participates in the Center for Open Science's <a href="https://cos.io/our-services/open-science-badges/">Open Data badge program</a>. We grant the Open Data badge based on two criteria: the published article (1) provides the URL, DOI, or other permanent path for accessing the data in a public, open access repository, and (2) contains sufficient information for an independent researcher to reproduce the reported results, though we do not conduct a full replication ourselves.</div>
      </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/clamp.min.js"></script>
<script>
  $(".research-item-abstract span").each(function() {
    $clamp(this, {clamp: 5});
  });
</script>

{% endblock %}
