{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("ali", "Our Team: Ali Ladak", "team/jamie", "Ali has postgraduate degrees in economics and cognitive science.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(3, photos[3], "Ali Ladak") }}

<div class="container first-container team-container-individual">
  {% from "../templates/partials/teammember.njk" import teammember %}
  {{ teammember(team[1]) }}
</div>

{% endblock %}
