{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("brad", "Our Team: Brad Saad", "team/brad", "Brad has a PhD in philosophy from the University of Texas at Austin. Since graduating, he has conducted research in philosophy of mind, philosophy of science, and epistemology at the University of Antwerp's Centre for Philosophical Psychology, Oxford's Future of Humanity Institute, and Rutgers's Department of Philosophy. At present, he is a research fellow at the Sentience Institute and a researcher in philosophy of artificial intelligence at Utrecht University.  His current research is focused on digital minds and catastrophic risks.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(1, photos[1], "Brad Saad") }}

<div class="container first-container team-container-individual">
  {% from "../templates/partials/teammember.njk" import teammember %}
  {{ teammember(team[4]) }}
</div>

{% endblock %}
