{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("disclosures", "Disclosures", "header_photos/" + "transparency-items", "Relevant staff and board member affiliations.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage("transparency-items", photos["transparency-items"], "Disclosures") }}

<div class="container first-container">
  <p>
    <span class="bold">Diana Fleischman (director)</span> serves on the grantmaking board at Animal Charity Evaluators.
  </p>
  <p>
    <span class="bold">Max Daniel (director)</span> is a member of the Board of Directors at the Effective Altruism Foundation, which has given grants to Sentience Institute, Animal Charity Evaluators, Mercy for Animals, The Humane League, the Animal Welfare fund on Effective Altruism Funds, the Good Food Institute, the Humane Slaughter Association, Animal Ethics, the Center for Effective Vegan Advocacy, the Nonhuman Rights Project, the Swiss Vegan Society, the Great Ape Project, Animal Equality, and the Albert Schweitzer Foundation.
  </p>
  <p>
    <span class="bold">Kelly Witwicki (staff/director)</span> previously worked with Sentience Politics (previously a program of the Effective Altruism Foundation), Animal Place, and Direct Action Everywhere.
  </p>
  <p>
    <span class="bold">Jacy Reese (staff)</span> previously worked with Sentience Politics, and both served as a Researcher and as Chair of the Board of Directors at Animal Charity Evaluators.
  </p>
</div>

{% endblock %}
