{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("disclosures", "Disclosures", "header_photos/" + "transparency-items", "Relevant staff and board member affiliations.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage("transparency-items", photos["transparency-items"], "Disclosures") }}

<div class="container first-container">
  <p>
    <span class="bold">Jacy Reese Anthis</span> previously worked with Sentience Politics and the Effective Altruism Foundation, and both served as a Researcher and as Chair of the Board of Directors at Animal Charity Evaluators.
  </p>
  <p>
    <span class="bold">Kelly Anthis</span> previously worked with Sentience Politics and the Effective Altruism Foundation, Animal Place, and Direct Action Everywhere.
  </p>
</div>

{% endblock %}
