{% extends "layout.njk" %}
{% block metatags %}
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->

  {{ metatagsrender("donate", "Donate", "header_photos/" + "donate", "Support our work by donating.") }}

  <script src="https://www.paypal.com/sdk/js?client-id=AeK94AwcohuNExMEZqPvnsvD4VV33534-oVuIDVw2wggGfD4aNQz4JgPY9oTh9jbAGmiYIGNod27DhPV"></script>
{% endblock %}

{% block content %}

<style>
  .donate-container:not(.donate-page-donate-container) {
    display: none;
  }
  .newsletter-container + hr {
    display: none;
  }
  .newsletter-container{
    padding-bottom: 60px;
  }
</style>

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage("donate", photos["donate"], "Donate") }}
<div class="container first-container donation-page-container">

  <div>
    <p>
      Sentience Institute is a 501(c)(3) public charity. Every donation goes towards supporting our researchers in our mission to build the best future for all sentient beings. We work with Every.org to take donations via debit/credit card, bank transfer, PayPal, stock transfer, cryptocurrency, etc.
    </p>
    <p>
      <a href="https://www.every.org/sentienceinstitute/donate/" class="btn">Donate to Sentience Institute</a>
    </p>
    <p>
      If you would prefer to mail a check, our address is: <span class="address">Sentience Institute, 165 Broadway, Fl. 23rd, New York, NY 10006</span>.
    </p>
    <p>
      Our most recently filed financial reports can be found on our <a href="https://www.sentienceinstitute.org/transparency">Transparency</a> page and with the <a href="https://www.charitiesnys.com/RegistrySearch/show_details.jsp?id={9E5569EC-06D4-4372-AABC-E6A788BF7D96}">New York Attorney General’s Charities Bureau</a>, phone no. (212) 416-8401, located at 28 Liberty St, New York, NY 10005.
    </p>
    <p>
      Please feel free to <a href="mailto:info@sentienceinstitute.org">email us</a> with any questions.
    </p>
  </div>
</div>

{% endblock %}
