{% extends "layout.njk" %}
{% block metatags %}
  {{ metatagsrender("donate", "Donate", "header_photos/" + 3, "Support our work by donating to us through Effective Altruism Funds.") }}
  <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
{% endblock %}

{% block content %}

<style>
  .donate-container:not(.donate-page-donate-container) {
    display: none;
  }
  .newsletter-container + hr {
    display: none;
  }
  .newsletter-container{
    padding-bottom: 60px;
  }
</style>

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(3, photos[3], "Donate") }}
<div class="container first-container donation-page-container">

  <div class="donation-bar-container">
    <div class="donation-bar">
      <div class="donation-bar-fill"></div>
      <div class="donation-bar-current"><span class="amount">Raised: $87,500</span><div class="arrow-down"></div></div>
      <div class="donation-bar-intermediate-goal"><div class="arrow-up"></div></div>
    </div>
    <span class="donation-bar-goal">Goal: $120,000</span>
  </div>

  <div>
    Sentience Institute is a 501(c)(3) public charity. You can donate via PayPal below, or if you would prefer to send a check, please make it out to: <span class="address">Sentience Institute, 77 Water St Fl 8, New York, NY 10005</span>
  </div>

  <div class="paypal"></div>
</div>

<script>paypal.Buttons().render('.paypal');</script>

{% endblock %}
