{% extends "layout.njk" %}
{% block metatags %}
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->

  {{ metatagsrender("donate", "Donate", "header_photos/" + "donate", "Support our work by donating.") }}

  <script src="https://www.paypal.com/sdk/js?client-id=AeK94AwcohuNExMEZqPvnsvD4VV33534-oVuIDVw2wggGfD4aNQz4JgPY9oTh9jbAGmiYIGNod27DhPV"></script>
{% endblock %}

{% block content %}

<style>
  .donate-container:not(.donate-page-donate-container) {
    display: none;
  }
  .newsletter-container + hr {
    display: none;
  }
  .newsletter-container{
    padding-bottom: 60px;
  }
</style>

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage("donate", photos["donate"], "Donate") }}
<div class="container first-container donation-page-container">

  {#
  <div class="donation-bar-container">
    <div class="donation-bar">
      <div class="donation-bar-fill"></div>
      <div class="donation-bar-current"><span class="amount">Raised: $95,593</span><div class="arrow-down"></div></div>
      <div class="donation-bar-intermediate-goal"><div class="arrow-up"></div></div>
    </div>
    <div class="donation-bar-goal"><span>2019 end-of-year fundraising goal: </span><span class="bold">$120,000</span></div>
  </div>
  #}

  <div>
    Sentience Institute is a 501(c)(3) public charity. You can donate via PayPal (including debit/credit card), or mailing a check, or you can <a href="mailto:info@sentienceinstitute.org">email us</a> for other methods such as wire transfer or donating assets (e.g., stocks, crypto).

    The easiest method is PayPal:
  </div>

  <div id="paypal-button-container">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="F3VXSGCGE252W" />
      <input type="image" src="https://www.sentienceinstitute.org/img/buttons/donate-button.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </div>

  <div>
    If you would prefer to mail a check, our address is: <span class="address">Sentience Institute, 165 Broadway, Fl. 23rd, New York, NY 10006</span>.
  </div>

  <br>

  <div>
    <p>Donations will provide continued support for research and outreach in accordance with that published and described on this website. Our most recently filed financial reports can be found on our <a href="https://www.sentienceinstitute.org/transparency">Transparency</a> page and with the <a href="https://www.charitiesnys.com/RegistrySearch/show_details.jsp?id={9E5569EC-06D4-4372-AABC-E6A788BF7D96}">New York Attorney General’s Charities Bureau</a>, phone no. (212) 416-8401, located at 28 Liberty St, New York, NY 10005.</p>
  </div>
</div>

{% endblock %}
