{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("faq", "FAQ", "header_photos/" + 7, "") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(7, photos[7], "FAQ") }}

<div class="container first-container gdoc-html-container perspective-container">
  {% include "../page_content/SIFAQ.html" %}
</div>

{% endblock %}
