{% extends "layout_for_iframe.njk" %}
{% block metatags %}
{{ metatagsrender("get-involved", "Get Involved", "header_photos/" + 9, "Join our research network, or apply to our team's openings!") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(9, photos[9], "Get Involved") }}

<div class="container first-container">
  <h2 id="team-openings">Team Openings</h2>
  We are not expanding our staff at this time. Future openings will be listed here and shared to our newsletter. You can see the questions from our most recent application form <a href="https://docs.google.com/document/d/1Lcn7RxyQmRXEDZtfkw99i0k1Z9M2Sp5TDJvBYfOP020/edit?usp=sharing">here</a>. Please sign up for our newsletter below to hear about future job openings. You can also email us at <a href="info@sentienceinstitute.org">info@sentienceinstitute.org</a> with questions. Thank you for your interest.
  {#
  <a href="researcher-opening">Researcher</a>
  #}
  <hr>
</div>
  {#
<div class="container">
  <h2 id="research-network">Research Network</h2>
  <p>
    Join our research network to lead, collaborate on, or assist us and other researchers on research projects.
  </p>
  <iframe frameborder="0" scrolling="no" onload="resizeIframe(this)" src="/mailchimp-researchnetwork" class="mailchimp-researchnetwork-iframe"></iframe>
</div>
  #}
{#<div class="container">
  <hr>
  <h2>Student Groups</h2>
  <p>
    <a href="/oxford">Oxford</a>
  </p>
</div>#}

{% endblock %}
