{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("", "Sentience Institute", "header_photos/home_image_darkened", "") }}
{% endblock %}

{% block content %}
<div class="container home-image-container parallax-window" img-id="home_image" data-parallax="scroll" data-image-src="../img/header_photos/home_image_darkened.png">
  <div class="home-image-text">Expanding humanity's moral circle</div>
  {% from "../templates/partials/imagecredit.njk" import imagecredit %}
  {{ imagecredit(photos["home_image"]) }}
</div>

<div class="container first-container home-mission-container">
  <p>
    Sentience Institute is a social science think tank building on and promoting the body of evidence for how to most effectively encourage humanity's moral circle expansion. We make our research results public and free, so anyone can use them to make more impactful decisions with their advocacy, careers, donations, and other resources.
  </p>
</div>
{% endblock %}

{% block scripts %}
<script src="../js/parallax.min.js"></script>
{% endblock %}
