{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("", "Sentience Institute", "header_photos/home_image_darkened", "") }}
{% endblock %}

{% block content %}
<div class="container home-image-container parallax-window" img-id="home_image" data-parallax="scroll" data-image-src="../img/header_photos/home_image_darkened.png">
  <div class="home-image-text">Expanding humanity's moral circle</div>
  {% from "../templates/partials/imagecredit.njk" import imagecredit %}
  {{ imagecredit(photos["home_image"]) }}
</div>

<div class="container first-container home-mission-container">
  <p>
    Sentience Institute is a nonprofit, interdisciplinary think tank researching long-term social and technological change, particularly moral circle expansion. We make our research results public and free, so individuals and institutions can use them to make the world a better place. 
  </p>
</div>
{% endblock %}

{% block scripts %}
<script src="../js/parallax.min.js"></script>
{% endblock %}
