{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("jacy", "Jacy Reese Anthis", "team/jacy", "Jacy Anthis is a co-founder of Sentience Institute and author of The End of Animal Farming. His research has been featured in The Guardian, Vox, Forbes, and other global media outlets, and he has given talks and lectures in over 20 countries.", false, "Jacy Reese Anthis, Jacy Anthis, Jacy Reese, Sentience Institute", "profile") }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Jacy Reese Anthis",
    "alumniOf": "The University of Texas at Austin",
    "affiliation": "The University of Chicago",
    "givenName": "Jacy",
    "nationality": "American",
    "spouse": "Kelly Anthis",
    "url": "https://jacyanthis.com/",
    "image": "https://jacyanthis.com/assets/images/jacyheadshot_grey.jpg",
    "sameAs": [
      "https://twitter.com/jacyanthis",
      "https://www.facebook.com/jacyanthis",
      "https://www.instagram.com/jacyanthis",
      "https://www.linkedin.com/in/jacyanthis/",
      "https://jacyanthis.com/",
      "https://sociology.uchicago.edu/directory/jacy-reese-anthis",
      "https://www.sentienceinstitute.org/jacy-reese-anthis",
      "https://www.huffpost.com/author/jacyreesepersonal-771",
      "http://www.beacon.org/cw_contributorinfo.aspx?ContribID=2665&Name=Jacy+Reese",
      "https://en.wikiquote.org/wiki/Jacy_Reese_Anthis",
      "https://www.theguardian.com/profile/jacy-reese",
      "https://scholar.google.com/citations?user=cL4VLnkAAAAJ&hl=en"
    ]
  }
</script>
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(1, photos[1], "Jacy Reese Anthis") }}

<div class="container first-container team-container-individual">
  {% from "../templates/partials/teammember.njk" import teammember %}
  {{ teammember(team[4]) }}
</div>

{% endblock %}
