{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("jacy", "Jacy Reese Anthis", "team/jacy", "Jacy is a writer, social scientist, and author of The End of Animal Farming. He previously worked as a Senior Fellow at Sentience Politics, and before that as a researcher and Chair of the board of directors at Animal Charity Evaluators. (Jacy Reese / Jacy Anthis)", false, "Jacy Reese Anthis, Jacy Anthis, Jacy Reese, Sentience Institute", "profile") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(1, photos[1], "Jacy Reese Anthis") }}

<div class="container first-container team-container-individual">
  {% from "../templates/partials/teammember.njk" import teammember %}
  {{ teammember(team[0]) }}
</div>

{% endblock %}
