{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("team", "Our Team: Jacy Reese Anthis", "team/" + jacy, "Jacy Reese Anthis is a writer, social scientist, and author of The End of Animal Farming.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(1, photos[1], "") }}

<div class="container first-container team-container-individual">
  {% from "../templates/partials/teammember.njk" import teammember %}
  {{ teammember(team[0]) }}
</div>

{% endblock %}
