{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("jamie", "Our Team: Jamie Harris", "team/jamie", "Jamie is a Researcher...") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(2, photos[2], "") }}

<div class="container first-container team-container-individual">
  {% from "../templates/partials/teammember.njk" import teammember %}
  {{ teammember(team[1]) }}
</div>

{% endblock %}
