{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("jamie", "Our Team: Jamie Harris", "team/jamie", "Jamie has a History degree from Oxford University and a Postgraduate Certificate in Education from Nottingham University.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(1, photos[1], "Jamie Harris") }}

<div class="container first-container team-container-individual">
  {% from "../templates/partials/teammember.njk" import teammember %}
  {{ teammember(team[0]) }}
</div>

{% endblock %}
