{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("kelly", "Kelly Anthis", "team/kelly", "Kelly co-founded Sentience Institute and served as the organization’s executive director for its first three years.", "profile") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(3, photos[3], "Kelly Anthis") }}

<div class="container first-container team-container-individual">
  {% from "../templates/partials/teammember.njk" import teammember %}
  {{ teammember(team[2]) }}
</div>

{% endblock %}
