{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("minutes", "Minutes", "header_photos/" + "transparency-items", "Board of Directors meeting minutes.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage("transparency-items", photos["transparency-items"], "Board Meeting Minutes") }}

<div class="container first-container gdoc-html-container">
  {% include "../page_content/BoardMeetingMinutes.html" %}
</div>

{% endblock %}
