{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("mission", "Our Mission", "header_photos/" + 4, "Our mission is to build evidence for how to most effectively expand humanity’s moral circle, and to encourage advocates to make use of that evidence.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(4, photos[4], "Our Mission") }}

<div class="container first-container mission-container">
  <p>
    Sentience Institute is a think tank dedicated to the expansion of humanity’s moral circle. We are founded on the principle of effective altruism, meaning we strive to help others as much as possible using the best evidence available. We envision a society in which the interests of all sentient beings are fully considered, regardless of their sex, race, species, substrate, location, or any other characteristic apart from their sentience. We see this expansion as an important means to prevent suffering now and in the far future.
  </p>
  <p>
    Our mission is to build on the body of evidence for how to most effectively expand humanity’s moral circle, and to encourage advocates to make use of that evidence. Because the scope of this mission is so large, we’re <a href="/perspective">initially focusing on effective strategies to expand the circle to farmed animals</a>.
  </p>
</div>

{% endblock %}
