{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("perspective", "Our Perspective", "header_photos/" + 7, "At Sentience Institute, we focus on “effective altruism,” meaning the strategies and tactics that are generate the most positive impact for the amount of resources used. We do this because there are many sentient beings who need our help, but we lack the time, money, and other resources to fully help all of them.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(7, photos[7], "Our Perspective") }}

<div class="container first-container gdoc-html-container perspective-container">
  {% include "../page_content/OurPerspective.html" %}
</div>

{% endblock %}
