{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("perspective", "Our Perspective", "header_photos/" + 7, "The moral circle, a concept introduced by Lecky (1869) and popularized by Singer (1981), refers to the boundary around entities that are granted moral consideration.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(7, photos[7], "Our Perspective") }}

<div class="container first-container gdoc-html-container perspective-container">
  {% include "../page_content/OurPerspective.html" %}
</div>

{% endblock %}
