{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("research", "Research Publications", "header_photos/" + "research", "Our research aims to produce insights about how to most effectively expand humanity’s moral circle. View our publications.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage("research", photos["research"], "Reports") }}

<div class="container first-container research-list-container">
      <h1><span>Surveys</span></h1>
      <div class="row research-section-list">
        {% for item in researchitems.surveys | reverse %}
          {% from "../templates/partials/researchitem.njk" import researchitem %}
          {{ researchitem(item) }}
        {% endfor %}
      </div>

      <h1><span>Estimates</span></h1>
      <div class="row research-section-list">
        {% for item in researchitems.estimates | reverse %}
          {% from "../templates/partials/researchitem.njk" import researchitem %}
          {{ researchitem(item) }}
        {% endfor %}
      </div>

      <h1><span>Technology Adoption Case Studies</span></h1>
      <div class="row research-section-list tech-studies-list">
        {% for item in researchitems.technologyadoption | reverse %}
          {% from "../templates/partials/researchitem.njk" import researchitem %}
          {{ researchitem(item) }}
        {% endfor %}
      </div>

      <h1><span>Social Movement Case Studies</span></h1>
      <div class="row research-section-list">
        {% for item in researchitems.socialmovements | reverse %}
          {% from "../templates/partials/researchitem.njk" import researchitem %}
          {{ researchitem(item) }}
        {% endfor %}
      </div>

      <h1><span>Journal Publications (via Blog)</span></h1>
      <div class="row research-section-list">
        {% for post in blogposts | reverse %}
          {% from "../templates/partials/blogitem.njk" import blogitem %}
          {%if post.isJournal%}
          {{ blogitem(post, authors) }}
          {%endif%}
        {% endfor %}
      </div>

      <h1><span>Other Research (via Blog)</span></h1>
      <div class="row research-section-list">
        {% for post in blogposts | reverse %}
          {% from "../templates/partials/blogitem.njk" import blogitem %}
          {%if post.isResearch%}
          {{ blogitem(post, authors) }}
          {%endif%}
        {% endfor %}
      </div>
</div>

{% endblock %}
