{% extends "layout_for_iframe.njk" %}
{% block metatags %}
{{ metatagsrender("researcher-opening", "Open Position: Researcher", "header_photos/" + "podcast", "Interested in researching the expansion of humanity's moral circle? Our team is hiring a researcher.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage("podcast", photos["podcast"], "Researcher Job Opening") }}

<div class="container first-container gdoc-html-container researcher-opening-container">
  {% include "../page_content/researcher-opening.html" %}
</div>

{% endblock %}
