{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("team", "Our Team: Jacy Reese", "team/" + jacy, "Jacy Reese is our Co-Founder and Research Director...") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(1, photos[1], "") }}

<div class="container first-container team-container-individual">
  {% from "../templates/partials/teammember.njk" import teammember %}
  {{ teammember(team[1]) }}
</div>

{% endblock %}
