{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("team", "Our Team: Jamie Harris", "team/" + jamie, "Jamie is a Research Fellow...") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(1, photos[1], "") }}

<div class="container first-container team-container-individual">
  {% from "../templates/partials/teammember.njk" import teammember %}
  {{ teammember(team[2]) }}
</div>

{% endblock %}
