{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("team", "Our Team", "header_photos/" + 1, "Meet our team.") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(1, photos[1], "Our Team") }}

<div class="container first-container team-container">
  <h2>Staff</h2>
  <div class="row">
    {% for person in team %}
      {% from "../templates/partials/teammember.njk" import teammember %}
      {{ teammember(person) }}
    {% endfor %}
  </div>

  <hr>
  <h2>Board of Directors</h2>
  <div class="row">
    {% for person in board %}
      {% from "../templates/partials/teammember.njk" import teammember %}
      {{ teammember(person) }}
    {% endfor %}
  </div>
  <hr>
  <h2>Advisory Board</h2>
  <div class="row">
    {% for person in advisors %}
      {% from "../templates/partials/teammember.njk" import teammember %}
      {{ teammember(person) }}
    {% endfor %}
  </div>

</div>

{% endblock %}
