{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("terms", "Terms and Conditions & Privacy Policy", "header_photos/" + 8, "") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(8, photos[8], "Terms and Conditions & Privacy Policy") }}

<div class="container first-container gdoc-html-container">
  {% include "../page_content/TermsandConditions.html" %}
</div>
<div class="container gdoc-html-container">
  {% include "../page_content/PrivacyPolicy.html" %}
</div>

{% endblock %}
