{% extends "layout.njk" %}
{% block metatags %}
{{ metatagsrender("press", "Press Releases", "header_photos/" + 11, "") }}
{% endblock %}

{% block content %}

{% from "../templates/partials/headerimage.njk" import headerimage %}
{{ headerimage(11, photos[11], "Press Releases") }}

<div class="container first-container press-list-container">
  <div class="row">
    {% for release in pressreleases | reverse %}
      {% from "../templates/partials/pressitem.njk" import pressitem %}
      {{ pressitem(release) }}
    {% endfor %}
  </div>
</div>

{% endblock %}
